<% unless comment.body.blank? %>
    <li class="media" data-time="<%= comment.created_at.to_i %>">
        <%= link_to image_tag(comment.user.avator.url(:thumb)), user_show_path(comment.user), class: "pull-left" %>
        <div class="media-body">
            <h5 class="media-heading">
                <%= link_to comment.user.name, user_show_path(comment.user) %>
                <span class="comment-date"><%= format_time(comment.created_at) %></span>
                
            </h5>
            <p><%= comment.body %></p>
        </div>
    </li>
<% end %>

