<div class="media update-comm" id="comment_<%= comment.id %>">
     <%= link_to image_tag(comment.user.avator.url(:thumb), width: "50px", height: "50px"), user_show_path(comment.user), class: "pull-left" %>
    <div class="media-body">
        <h5 class="media-heading">
            <%= link_to comment.user.name, user_show_path(comment.user) %>
        </h5>
        <%= comment.content %>
        <br>
        <span class="comment-date">
        	<%= time_ago_in_words(comment.created_at) %> ago
        </span>
    </div>
</div>