  <div class="col-xs-6 col-md-3 col-sm-6 portfolio-item-wrapper <%= movie.genres.split.join(" ").downcase %>" data-time="<%= movie.created_at.to_i %>">
    <div class="portfolio-item">
        <div class="thumbnail">
    <%= link_to image_tag(@tmdb.imageUrl('poster','w154', movie.poster)),movie_path(movie), title: movie.title %>
          <div class="caption">
            <b><%= truncate(movie.title, length: 17) %></b>
            <span style="display: block"><%= movie.release_date %></span>
      </div>
</div>
</div>
  </div>
