<div class="col-xs-4 col-sm-4 col-md-3 portfolio-item-wrapper <%= movie.genres.split.join(" ").downcase %>" data-time="<%= movie.created_at.to_i %>">
<div class="portfolio-item">
    <div class="portfolio-thumb">
            <%= link_to image_tag(@tmdb.imageUrl('poster','w185', movie.poster)),movie_path(movie), title: movie.title %>
        
    </div>

    <div class="portfolio-content">
        <h5><%= movie.title %></h5>
        <p><%= movie.release_date %></p>
    </div>

</div>
</div>
