  <div class="col-xs-6 col-md-3 col-sm-6 portfolio-item-wrapper <%= movie.genres.split.join(" ").downcase %>">
    <div class="portfolio-item">
        <div class="thumbnail">
    <%= link_to image_tag(@tmdb.imageUrl('poster','w154', movie.poster)),movie_path(movie), title: movie.title %>
          <div class="caption">
            <b><%= truncate(movie.title, length: 17) %></b>
            <span style="display: block"><%= movie.release_date %></span>
            <div style="border-top: solid thin #ccc; width: 100%; padding: 2px; margin-top: 5px;">
            	<%= rating_for movie, "engagement" %>
            </div>
      </div>
</div>
</div>
  </div>
