<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item-wrapper <%= movie.genres.join(" ").downcase  %>">
<div class="portfolio-item">
    <div class="portfolio-thumb">
    	<%= image_tag(@tmdb.imageUrl('backdrop','w780', movie.backdrop)) %>
        
        <div class="image-overlay"></div>
        <%= link_to raw('<i class="icon-eye-open"></i>'), @tmdb.imageUrl('backdrop','w780', movie.backdrop), rel: "prettyPhoto", class: "portfolio-zoom" %>
        <%= link_to raw('<i class="icon-link"></i>'), movie_path(movie), class: "portfolio-link" %>
    </div>
    <div class="portfolio-content">
        <h5><%= movie.title %></h5>
        <p><%= movie.votes_for %> Upvotes | <%= movie.votes_against %> Downvotes</p>
        <p><%= movie.comments.count %> comments </p>
    </div>
</div>
</div>