<% @movies.each do |movie| %>
  <div class="col-xs-12 col-md-2 col-sm-6 portfolio-item-wrapper" id="<%= movie["id"] %>">
    <div class="portfolio-item">
        <div class="thumbnail">
                <% if movie["poster_path"] %>
                    <%= image_tag(@tmdb.imageUrl('poster','w185', movie["poster_path"]), class: "tip", "title" => movie["title"], alt: movie["original_title"], "data-url" => @tmdb.movieUrl(movie["id"])) %>            
                <% else %>
                    <%= image_tag "http://placehold.it/154x231" %>
                <% end %> 
          <div class="caption">
            <b><%= truncate(movie["title"], length: 15) %></b>
            <span style="display: block"><%= movie["release_date"] %></span>
            <a href="#" class="home add-to-collection" data-url="<%= @tmdb.movieUrl(movie["id"]) %>">Add</a>

      </div>
</div>
</div>
  </div>
<% end %>

