<% @movies.each do |movie| %>
    <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item-wrapper nature outside">
        <div class="portfolio-item">
            <div class="portfolio-thumb">
            	<% if movie["backdrop_path"] %>
            		<%= image_tag(@tmdb.imageUrl('backdrop','w780', movie["backdrop_path"])) %>
            		<div class="image-overlay"></div>
            		<%= link_to raw('<i class="icon-eye-open"></i>'), @tmdb.imageUrl('backdrop','w780', movie["backdrop_path"]), rel: "prettyPhoto", class: "portfolio-zoom" %>
            	<% else %>
            		<%= image_tag "http://placehold.it/780x439" %>
            		<div class="image-overlay"></div>
            		<%= link_to raw('<i class="icon-eye-open"></i>'), "http://placehold.it/780x439", class: "portfolio-zoom" %>
            	<% end %>         
                <%= link_to raw('<i class="icon-link"></i>'), fetch_movie_path(movie["id"]), class: "portfolio-link" %>
            </div>
            <div class="portfolio-content">
                <h5><%= movie["title"] %></h5>
                <p><%= movie["release_date"] %></p>
            </div>
        </div>
    </div>
<% end %>

