<%= form_tag(movies_path, method: :get, id: "movie_search") do  %>
  <p>
    <%= text_field_tag :q, params[:q] %>
  </p>
    <%= submit_tag "Search", name: nil, id: "search" %>
  </p>
<% end %> 

<div id="loading" style="display: none;"><%= image_tag "ajax-loader.gif" %></div>

<div id="content">
<% if params[:q] %>
	<%= render 'results' %>
	<% else %>
	<h4>My Movies</h4>
<% for movie in @movies %>
	
	<%= link_to(image_tag(movie.poster), movie_path(movie)) %><br />

	<p><%= movie.votes_for %> Upvotes | <%= movie.votes_against %> Downvotes</p>
	<hr />
<% end %>
<% end %>
</div>