<% title "My Movies" %>

<section id="page-title-wrapper" class="section page-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 page-title">
                <% if params[:q] %>
                    <h4>Found <%= pluralize(@movies.count, "match") %></h4>
                <% else %>
                    <div class="row">
                        <div class="col-md-12 loading">
                             <%= image_tag "ajax-loader.gif" %>
                        </div>
                    </div>
                    <h4 id="movies">My Movies</h4>
                <% end %>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4">
            </div>


            <!-- /.page-title -->
            <div class="col-xs-4 col-sm-4 col-md-4">
                <%= render :partial => 'shared/search_form' %>
            </div>
            <!-- /.breadcrumb-wrapper -->
        </div>
        <!-- /.row -->
    </div>
<!-- /.container -->
</section>

<section id="portfolio-2" class="section colored-wrapper">
    <div class="container">
    
        <!-- /.portfolio-filter -->
        <div class="row">
            <div id="content">
                    <% unless @movies.any? %>
                         <h4>It's lonely here...how about you add some movies!</h4>
                    <% end %>
                    <% if params[:q] %>
                        <%= render 'results' %>
                    <% else %>
                        <div class="col-md-4">
                            <% if @movies.any?  %>
                            <div class="wrapper-1">
                            <%= render :partial => 'shared/genres', locals: { genres: @genres } %>
                        </div>

                            <div class="wrapper-1">
                                <h5 class="subpage-title">Advertisement</h5>
                                <%= render 'shared/google_ads' %>
                            </div>
                        </div>
                    <% end %>
   
                        <div class="col-md-8 v-ruler">
                             <div id="isotope-portfolio-container">

                                <% if @movies.any? %>
                                
                               
                                    <%= render @movies %>
  
                                <% end %>
                                </div>
                                <div class="clearfix">
                                    <%= paginate @movies %>
                                </div>
    
                        </div>
                    <% end %>


  
                	

                <!-- /.isotope-portfolio-container -->
            </div>
            <!-- end content -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>





