<% title "My Movies" %>

<section id="page-title-wrapper" class="section page-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-6 page-title">
                <% if params[:q] %>
                    <h4>Found <%= pluralize(@movies.count, "match") %></h4>
                <% else %>
                    <div class="row">
                        <div class="col-md-1 loading">
                             <%= image_tag "ajax-loader.gif" %>
                        </div>
                        <div class="col-md-11">
                            <div id="loading">
                                <div class="loading">
                                    <h4>Searching....this might take a while</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 id="movies">My Movies</h4>
                <% end %>
            </div>

            <!-- /.page-title -->
            <div class="col-xs-6 col-sm-9 col-md-6">
                <%= render :partial => 'shared/search_form' %>
            </div>
            <!-- /.breadcrumb-wrapper -->
        </div>
        <!-- /.row -->
    </div>
<!-- /.container -->
</section>

<section id="portfolio-2" class="section colored-wrapper">
    <div class="container">
        <% if notice %>
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <%= notice %>
            </div>
        <% elsif alert %>
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <%= alert %>
            </div>
        <% end %>
        
        <% unless params[:q] %>
            <%= render :partial => 'shared/genres', locals: { genres: @genres } %>
        <% end %>
        <!-- /.portfolio-filter -->
        <div class="row">
            <div id="content">
                <div id="isotope-portfolio-container">
                	<% if params[:q] %>
                		<%= render 'results' %>
                	<% else %>
                        <% if @movies.any? %>
                            <%= render @movies %>
                        <% else %>
                            <h4>It's lonely here...how about you add some movies!</h4>
                        <% end %>
                        <div class="clearfix"></div>
                    <% end %>
                </div>
                <!-- /.isotope-portfolio-container -->
            </div>
            <!-- end content -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>





