<% title @movie.title %>

<% content_for(:meta_tags) do %>    
    <meta name="description" content="<%= truncate(@movie.overview, :length => 200, omission: '... (continued)') %>" />
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#">
    <meta property="fb:app_id"      content="1432996973586926" /> 
    <meta property="og:type"        content="video.movie" /> 
    <meta property="og:url"         content="<%= request.url %>" /> 
    <meta property="og:title"       content="<%= @movie.title %>" /> 
    <meta property="og:image"       content="<%= @tmdb.imageUrl("poster", "w342", @movie.poster)%>" /> 
    <meta property="og:description" content="<%= truncate(@movie.overview, :length => 300, omission: '... (continued)') %>" /> 
<% end %>

<% content_for(:head) do %>
    <script>
        s(window).load(function(){
            var img = new Image();
            s(img).load(function() {
              s(".img-responsive").attr("src",img.src);
              s(".loading-text").hide();
            });
            img.src = '<%= @tmdb.imageUrl("poster", "w342", @movie.poster) %>';
        });
    </script>
<% end %>
 
<section id="page-title-wrapper" class="section page-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <a href="javascript:history.go(-1)" id="ios-arrow-left">Back</a> 
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 page-title">
                <h4><%= @movie.title %></h4>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <%= render :partial => 'shared/search_form' %>
            </div>
            <!-- /.page-title -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section id="item-content-wrapper" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <%= render :partial => 'movie_info' %>
            </div>
            <div class="col-md-8 item-details">
                <div class="wrapper-1 hidden-xs hidden-sm">
                    <h5 class="subpage-title"><i class="icon-facetime-video"></i> Movie Overview</h5>
                    <p><%= @movie.overview %></p>

                    <% if @movie.tag_line.present? %>

            <p>
                <blockquote>
                    <%= @movie.tag_line %>
                    <small><cite title="Source Title">Tagline</cite></small>
                </blockquote>

            </p>
                    <% end %>
                </div>


            	<div class="wrapper-1 youtube">
            		<h5 class="subpage-title"><i class="icon-youtube-play"></i> Youtube Trailer</h5>
            		<%= raw(@trailer) %>
            		<br />
            		<div class="row">
                        <%= render partial: 'shared/votes_info', locals: { movie: @movie } %>

                        <div class="col-xs-12 col-md-7" id="votes-progress">
                            <%= render :partial => 'movies/votes_progress' %>
                        </div>

                    </div>
            	</div>
                    
            </div>
            <div class="clearfix"></div>
                             <!-- comments -->
                 <div class="col-md-12 wrapper-1">
                        
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
                            <li class=""><a href="#cast" class="cast" data-toggle="tab">Cast</a></li>
                            <li class=""><a href="#similar" class="similar-movies" data-toggle="tab">Similar Movies</a></li>
                            <li class=""><a href="#downloads" class="download" data-toggle="tab">Download</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="reviews">
                                <div class="post-comments">
                                    <h5 class="subpage-title" id="review-count">
                                        <i class="icon-comments"></i> <%= @reviews.count %> Reviews
                                    </h5>
                                    <ul class="media-list" id="reviews">
                                        <%= render @reviews unless @reviews.nil? %>
                                    </ul>
                                    <!-- end comments -->
                                </div>

                                <% if user_signed_in? %>
                                  <%= render 'reviews/form' %>  
                                <% else %>
                                    <p> You must be logged in to review on this movie <%= link_to "Log In", new_user_session_path, class: "home" %> </p>
                                <% end %>
                            </div>

                            <div class="tab-pane" id="cast">
                                <div class="gif-loader" style="display: none;">
                                     <%= image_tag 'ajax-loader-2.gif' %>
                                </div>
                            </div>
                            <div class="tab-pane" id="similar">
                                <div class="gif-loader" style="display: none;">
                                     <%= image_tag 'ajax-loader-2.gif' %>
                                </div>
                            </div>
                            <div class="tab-pane" id="downloads">
                                <p>No download link at the moment for this movie..</p>
                            </div>
                        </div>
                    </div> 
        </div>
    </div>
</section>

<!-- used by ajax to poll for reviews -->
<div id="reviews-path"><%= movie_reviews_path(params[:id]) %></div>
<span id="tmdb_id"><%= @movie.tmdb_id %></span>