<% title @movie.title %>

<% content_for(:meta_tags) do %>
 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#">
  <meta property="fb:app_id"      content="1432996973586926" /> 
  <meta property="og:type"        content="video.movie" /> 
  <meta property="og:url"         content="<%= request.url %>" /> 
  <meta property="og:title"       content="<%= @movie.title %>" /> 
  <meta property="og:image"       content="<%= @tmdb.imageUrl("poster", "w154", @movie.poster)%>" /> 
  <meta property="og:description" content="<%= truncate(@movie.overview, :length => 200) %>" /> 
  <meta name="description" content="<%= truncate(@movie.overview, :length => 200) %>">
<% end %>

<% content_for(:head) do %>
    <script>
        s(window).load(function(){
            var img = new Image();
            s(img).load(function() {
              s(".img-responsive").attr("src",img.src);
              s(".loading-text").hide();
            });
            img.src = '<%= @tmdb.imageUrl("poster", "w500", @movie.poster) %>';
        });
    </script>
<% end %>
 
<section id="page-title-wrapper" class="section page-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 page-title">
                <h4><%= @movie.title %> &rarr; <small> <%= @movie.tag_line %></small></h4>
            </div>
            <!-- /.page-title -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section id="item-content-wrapper" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <%= render :partial => 'movie_info' %>
            </div>
            <div class="col-md-7 item-details">
            	<div class="wrapper-1 youtube">
            		<h5 class="subpage-title"><i class="icon-youtube-play"></i> Youtube Trailer</h5>
            		<%= raw(@trailer) %>
            		<br />
            		<div class="row">
                        <%= render partial: 'shared/votes_info', locals: { movie: @movie } %>

                        <div class="col-xs-12 col-md-7" id="votes-progress">
                            <%= render :partial => 'movies/votes_progress' %>
                        </div>

                    </div>
            	</div>

                <div class="wrapper-1">
                    <h5 class="subpage-title"><i class="icon-facetime-video"></i> Movie Overview</h5>
                    <p><%= @movie.overview %></p>
                </div>

                 <!-- comments -->
                <div class="post-comments">
                    <h5 class="subpage-title" id="comment-count">
                        <i class="icon-comments"></i> <%= @comments.count %> Comments
                    </h5>
                    <ul class="media-list" id="comments">
                    	<%= render @comments unless @comments.nil? %>
					</ul>
					<!-- end comments -->
                </div>
                <% if user_signed_in? %>
        		  <%= render 'comments/form' %>  
                <% else %>
                    <p> <%= link_to "Log In to leave a comment", new_user_session_path, class: "btn btn-flat flat-info" %> </p>
                <% end %>                          
            </div>
        </div>
    </div>
</section>

<!-- used by ajax to poll for comments -->
<div id="comments-path"><%= movie_comments_path(params[:id]) %></div>