<% for user in users %>
    <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item-wrapper">
        <div class="portfolio-item">
            <div class="portfolio-thumb">
                <%= image_tag user.avator.url(:medium), class: "img-responsive" %>

                <div class="image-overlay"></div>
                <%= link_to raw('<i class="icon-eye-open"></i>'),user.avator.url, rel: "prettyPhoto", class: "portfolio-zoom" %>
                <%= link_to raw('<i class="icon-link"></i>'), user_show_path(user), class: "portfolio-link" %>
            </div>
            <div class="portfolio-content">
                <h5><%= user.name %></h5>
                <span><%= user.movies.count %> Movies</span><br /><br />
                <% unless current_user == user %>
                    <% if current_user.following?(user) %>
                        <%= link_to "unfollow" ,user_unfollow_path(id: user.id), class: "btn btn-flat flat-danger btn-sm btn-block follow-unfollow", id: user.id %>
                    <% else %>
                        <%= link_to "follow" ,user_follow_path(id: user.id), class: "btn btn-flat flat-info btn-sm btn-block follow-unfollow", id: user.id %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>