<% title "Change Password" %>

<section id="page-title-wrapper" class="section page-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 page-title">
              <h4>Edit Profile</h4>
            </div>
            <!-- /.page-title -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section id="item-content-wrapper" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul id="myTab" class="nav nav-pills nav-stacked">
          <li class="">
            <a href="#profile-tab" data-toggle="tab">
              <i class="icon-user"></i> &nbsp;&nbsp;Profile Settings
            </a>
          </li>
          <li class="active">
            <%= link_to raw('<i class="icon-key"></i> &nbsp;&nbsp; Change Password'), password_edit_path %>
          </li>
        </ul>
      </div>

      <div class="col-md-8 item-details">
        <div class="wrapper-1">
          <% if @user.errors.any? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <strong>Oh noo!</strong>
              <% @user.errors.full_messages.each do |msg| %>
              <p><%= msg %></p>
            <% end %>
          </div>
          <% end %>
          <%= form_for(@user, :url => password_edit_path, :html => {:class => 'form-horizontal'} ) do |f| %>

            <div class="form-group">
              <%= f.label :current_password, :class =>"col-md-3" %>

              <div class="col-md-7">
                <%= f.password_field :current_password, :class => "form-control" %>
              </div> <!-- /.col -->

            </div> <!-- /.form-group -->


            <div class="form-group">
              <%= f.label "New Password", :class => "col-md-3" %> 

              <div class="col-md-7">
              <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %>
              </div> <!-- /.col -->

            </div> <!-- /.form-group -->


            <div class="form-group">
              <%= f.label "Confirm Password", :class =>"col-md-3" %>

              <div class="col-md-7">
              <%= f.password_field :password_confirmation, :class => "form-control" %>
              </div> <!-- /.col -->

            </div> <!-- /.form-group -->

            <div class="form-group">

              <div class="col-md-7 col-md-push-3">
              <%= f.submit "Update Password", :class => "btn btn-primary" %>
              <!-- /.col -->

             </div> <!-- /.form-group -->

          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
