 <section id="page-title-wrapper" class="section page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 page-title">
                        <% if @user == current_user %>
                            <h4>Your Followers</h4>
                        <% else %>
                            <h4><%= @user.name %>'s Followers</h4>
                        <% end %>
                    </div>
                    <!-- /.page-title -->
                    <div class="col-xs-6 hidden-xs breadcrumb-wrapper">
                    </div>
                    <!-- /.breadcrumb-wrapper -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <section id="portfolio-2" class="section colored-wrapper">
            <div class="container">
                <div class="row">
                    <div id="isotope-portfolio-container">

                    	<% for follower in @followers %>

	                        <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item-wrapper">
                            <div class="portfolio-item">
                                <div class="portfolio-thumb">
                                	<%= image_tag follower.avator.url(:medium), class: "img-responsive" %>

                                    <div class="image-overlay"></div>
                                    <%= link_to raw('<i class="icon-eye-open"></i>'), "http://placehold.it/780x439", rel: "prettyPhoto", class: "portfolio-zoom" %>
                                    <%= link_to raw('<i class="icon-link"></i>'), user_show_path(follower), class: "portfolio-link" %>
                                </div>
                                <div class="portfolio-content">
                                    <h5><%= follower.name %></h5>
                                    <p><%= follower.movies.count %> Movies</p>
                                    					  		<% unless current_user == follower %>
	  		<% if current_user.following?(follower) %>
	  			<%= link_to "unfollow" ,user_unfollow_path(id: follower.id) %>
	  		<% else %>
	  			<%= link_to "follow" ,user_follow_path(id: follower.id) %>
	  		<% end %>
	  		<% end %>
                                </div>
                            </div>
                        </div>
<% end %>







                    </div>
                    <!-- /.isotope-portfolio-container -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>