<section id="page-title-wrapper" class="section page-title-wrapper clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 page-title">
            	<% if current_user == @user %>
                	<h4>My Profile</h4>
                <% else %>
                	<h4><%= @user.name %>'s Profile</h4>
                <% end %>
            </div>
            <!-- /.page-title -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section id="item-content-wrapper" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="portfolio-thumb wrapper-1">
                    <%= image_tag @user.avator.url(:profile), class: "img-responsive" %>
                </div>
                <%= render :partial => 'follow_stats' %>
            </div>
            <div class="col-md-8 item-details">
            	<div class="wrapper-1 youtube">
            		<h2><%= @user.name %></h2>

                    <div id="user-stats">
                        <%= render :partial => 'user_stats', locals: {user: @user } %>
                    </div>
                    <div class="row">


                    </div>
            	</div>
            </div>

        </div>
    </div>
</section>
<%= render :partial => 'shared/recent_works' %>
