<% title "#{@user.name}'s Profile" %>

<% content_for(:meta_tags) do %>
    <meta property="og:title" content="<%= @user.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:image" content="<%= @user.avator.url(:profile) %>" />
    <meta name="description" content="<%= @user.name %>">
<% end %>

<section id="page-title-wrapper" class="section page-title-wrapper clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 page-title">
            	<% if current_user == @user %>
                	<h4>My Profile</h4>
                <% else %>
                	<h4><%= @user.name %>'s Profile</h4>
                <% end %>
            </div>
            <!-- /.page-title -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section id="item-content-wrapper" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="portfolio-thumb wrapper-1">
                    <%= image_tag @user.avator.url(:profile), class: "img-responsive" %>
                </div>
                <%= render :partial => 'follow_stats' %>
            </div>
            <div class="col-md-8 item-details">
            	<div class="wrapper-1 youtube">
            		<h2><%= @user.name %></h2>

                    <div id="user-stats">
                        <%= render :partial => 'user_stats', locals: {user: @user } %>
                    </div>
                    <div class="row">
                    <section id="recent-works">
                        <div class="container wrapper-2">
                            <h5 class="subpage-title">
                                <span>Recent Movies</span>
                                <!-- Controls -->
                                <span id="portfolio-next" class="next black">
                                    <i class="icon-angle-right"></i>
                                </span>
                                <span id="portfolio-prev" class="prev black">
                                    <i class="icon-angle-left"></i>
                                </span>
                            </h5>
                            <div class="row">
                                <div id="caroufredsel-portfolio-container">
                                    <% if @recent_movies.any? %>
                                        <%= render :partial => 'shared/movies', locals: { movies: @recent_movies, size: "w300" } %>
                                    <% else %>
                                    <div class="col-md-12" style="margin-bottom: 40px;">
                                        <p>Its lonely here....please add some movies</p>
                                    </div>
                                    <% end %>
                                    <!-- /.portfolio-item-wlrapper -->
                                </div>
                                <!-- /.caroufredsel-portfolio-container -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container -->
                    </section>
                        <div class="col-md-12">
                            <h5 class="subpage-title">Recent Activity</h5>
                            <% if current_user.following?(@user) || @user == current_user %>
                                <% if @activities.any? %>
                                    <table class="table recent-activity">
                                        <tbody>
                                            <%= render :partial => 'activities', locals: { activities: @activities } %>
                                        </tbody>
                                    </table>
                                    <%= link_to "More", "#", class: "btn btn-flat flat-default btn-bordered btn-lg btn-block", id: "more-activity"  %>
                                    <div class="more" style="text-align: center;"></div>
                                <% else %>
                                    <div class="col-md-12" style="margin-bottom: 40px;">
                                        <p>No activity found....</p>
                                    </div>
                                <% end %>
                            <% else %>
                                <p class="post-title">Follow <%= @user.name %> to see his/her recent activity </p>
                            <% end %>                            
                        </div>

                    </div>
            	</div>
            </div>

        </div>
    </div>
</section>



