<% title "Recover Password" %>

<section id="page-title-wrapper" class="section page-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 page-title">
            	<h4>Don’t panic — we’ve got you covered.</h4>
            </div>

            <!-- /.page-title -->
            <div class="col-xs-6 col-sm-9 col-md-10">

            </div>
            <!-- /.breadcrumb-wrapper -->
        </div>
        <!-- /.row -->
    </div>
<!-- /.container -->
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-md-offset-4">
    	    <div class="register-login" style="margin: 40px 0px 70px 0px">
                 <div class="cool-block">
                    <div class="cool-block-bor">
                    
                       <h3><i class="icon-envelope"></i> Enter Your Email Address</h3>

						<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :autofocus=> true }) do |f| %>  
                            <%= devise_error_messages! %>                 
                                                   
                                                   
                            <div class="form-group">
                                <%= f.label :email %>
                                <%= f.email_field :email, :autofocus => "true", :class=> 'form-control', :placeholder=> "Email here..." %>
                            </div>

                            <div class="form-group">
                                <%= f.submit 'Send Reset Instructions', class: "btn btn-flat flat-inverse btn-block"%>
                            </div>
                            <div class="clearfix"></div>
                        <% end %>
                       
                    </div>
                 </div>   
            </div>
        </div>
    </div>
</div>






