<section id="fullwidthbanner-container" class="section fullwidthbanner-container hidden-xs">
    <div class="fullwidthbanner">
        <ul>
            <%= render :partial => 'slider' %>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.fullwidthbanner -->
</section>
<!-- /.fullwidthbanner-container -->

<section id="item-content-wrapper" class="section">
    <div class="container">
        <div class="row">            
            <div class="col-md-8">
                <div class="portfolio-thumb wrapper-1">
                    <% if notice %>
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= notice %>
                    </div>
                    <% elsif alert %>
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= alert %>
                    </div>
                    <% end %>
                    <%= image_tag "ajax-loader-3.gif", class: "ajax-loading-gif pull-right", style: "margin-bottom: 4px; display:none" %>
                    <%= render 'updates/form' %>
                    <div class="post-comments">
                        <h5 class="subpage-title">Recent Feed</h5>
                        <ul class="media-list">
                            <%= render @updates unless @updates.nil? %>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 item-details">
                <div class="wrapper-1">
                        <ul class="recent-posts">
                            <li>
                                <%= link_to image_tag(current_user.avator.url(:thumb)), user_show_path(current_user) %>
                                <h5>
                                    <%= link_to current_user.name, user_show_path(current_user) %>
                                    <small><%= link_to "Edit Profile", "#" %></small>
                                </h5>
                            </li>
                        </ul>
                </div>
                <div class="wrapper-1">
                    <div class="poster-responsive"></div>
                </div>
                <div class="widget popular-posts">
                    <h5 class="subpage-title">Popular Users</h5>
                    <ul class="recent-posts">
                        <%= render @users %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
