<%= title "Home" %>
<% content_for(:meta_tags) do %>
    <meta name="description" content="Movie Buddy helps you save and organise your favorite movies while engaging you with friends to discover interesting Movies. Sign up today!">
<% end %>

<section id="fullwidthbanner-container" class="section fullwidthbanner-container hidden-xs">
    <div class="fullwidthbanner">
        <ul>
            <%= render :partial => 'slider' %>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.fullwidthbanner -->
</section>
<!-- /.fullwidthbanner-container -->

<section id="item-content-wrapper" class="section">
    <div class="container">
        <div class="row">            
            <div class="col-md-7">
                <div class="portfolio-thumb wrapper-1">
                    <% if notice %>
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= notice %>
                    </div>
                    <% elsif alert %>
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <%= alert %>
                    </div>
                    <% end %>
                    <div class="widget search hidden-lg hidden-md hidden-sm">
                         <%= render :partial => 'shared/search_form' %>
                    </div>
                    <%= image_tag "ajax-loader-3.gif", class: "ajax-loading-gif pull-right", style: "margin-bottom: 4px; display:none" %>
                    <%= render 'updates/form' %>
                    <div class="post-comments">
                        <h5 class="subpage-title">Recent Feed</h5>
                        <ul class="media-list">
                            <%= render @updates unless @updates.nil? %>
                        </ul>
                        <%= link_to "More", "#", class: "btn btn-flat flat-default btn-bordered btn-lg btn-block", id: "more-updates" if @updates.any? && @updates.size >= 5 %>

                        <div class="more" style="text-align: center; display:none">
                            <%= image_tag "ajax-loader-2.gif" %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 item-details v-ruler">
                <div class="wrapper-1">
                    <ul class="recent-posts hidden-xs">
                        <li>
                            <%= link_to image_tag(current_user.avator.url(:thumb)), user_show_path(current_user) %>
                            <h5>
                                <%= link_to current_user.name, user_show_path(current_user) %>
                                <small><%= link_to "Edit Profile", "#" %></small>
                            </h5>
                        </li>
                    </ul>
                    <div class="widget search hidden-xs">
                         <%= render :partial => 'shared/search_form' %>
                    </div>

                    <div class="widget categories">
                        <h5 class="subpage-title">Favourites</h5>
                        <ul class="widget-list">
                            <li><%= link_to "Browse Users", all_users_path %></li>
                            <li><%= link_to "My Movies", movies_path %></li>
                            <li><%= link_to "Followers", user_followers_path(current_user) %></li>
                            <li><%= link_to "Following", user_follows_path(current_user) %></li>
                        </ul>
                    </div>


                </div>
                <hr>
                <div class="wrapper-1">
                    <h5 class="subpage-title">Upcoming Movies</h5>
                        <ul class="recent-movies">
                            <%= render :partial => 'movies', locals: { movies: @upcoming_movies } %>
                        </ul>
                </div>
                <hr>

                <div class="wrapper-1">
                    <h5 class="subpage-title">Popular Movies</h5>
                        <ul class="recent-movies">
                            <%= render :partial => 'movies', locals: { movies: @popular_movies } %>
                        </ul>
                </div>
                <hr>

                <div class="wrapper-1">
                    <h5 class="subpage-title">Highest Rated Movies</h5>
                        <ul class="recent-movies">
                          <%= render :partial => 'movies', locals: { movies: @highest_rated } %>  
                        </ul>
                </div>

                <div class="widget popular-posts">
                    <h5 class="subpage-title">Popular Users</h5>
                    <ul class="recent-posts">
                        <%= render @users %>
                    </ul>
                </div>

                <div class="wrapper-1 hidden-lg hidden-md hidden-sm">
                    <ul class="recent-posts">
                        <li>
                            <%= link_to image_tag(current_user.avator.url(:thumb)), user_show_path(current_user) %>
                            <h5>
                                <%= link_to current_user.name, user_show_path(current_user) %>
                                <small><%= link_to "Edit Profile", "#" %></small>
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
