<li class="media" data-time="<%= update.created_at.to_i %>">
    <%= link_to image_tag(update.user.avator.url(:thumb)), user_show_path(update.user), class: "pull-left" %>
    <div class="media-body">
        <h5 class="media-heading">
            <%= link_to update.user.name, user_show_path(update.user) %>  
            <small><% if update.movie? %>
                added a new movie
            <% end %> </small>      
        </h5>
        <p><%= raw(update.content) %></p>
                <% unless update.movie.equal?(0) %>
                <% movie = Movie.find(update.movie) %>
            <div class="row updates">
                <div class="col-md-3 col-sm-2 col-xs-6">
                    <%= link_to image_tag(@tmdb.imageUrl('poster', 'w154', movie.poster), class: "img-responsive"), movie_path(movie) %>
                </div>
                <div class="col-md-8 col-sm-10 col-xs-6">
                    <h6><%= link_to movie.title, movie_path(movie), class: "home" %></h6>
              
                <p><%= truncate(movie.overview,  length: 110, omission: '...') %></p>
                </div>
            </div>
        <% end %>

        <%= render :partial => 'updates/comment_stats', locals: {update: update} %>

        <!-- Nested media object -->
        <% @update_comments = update.update_comments %>
        <%= render @update_comments %>

        <div class="media update-comment-form" id="form-<%= update.id %>">
            <%= link_to image_tag(current_user.avator.url(:thumb), width: "50px", height: "50px"), user_show_path(current_user), class: "pull-left" %>
            <div class="media-body">
                <div class="row">
                    <div class="col-md-9">
                        <%= form_for([update, update.update_comments.build], :html => {:id => "update_" + update.id.to_s }) do |f| %>
                        <%= f.text_area :content, class: "cupdate btn-block", id: "cupdate_" + update.id.to_s %>                       
                    </div>
                    <div class="col-md-3">
                        <%= f.submit "Comment", id: update.id.to_s, class: "update-comment" %>
                    </div>
                    <% end %>
                </div>  
            </div>
        </div>
    </div>                                           
</li>
<hr>