<!DOCTYPE html>
<html>
<head>
    <title><%= content_for?(:title) ? yield(:title) : "MovieBuddy" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="moviebuddy, moviebuddy.info, movies">
    <%= yield(:meta_tags) if content_for?(:meta_tags)  %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag  "application", "http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Montserrat:400,700", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= render 'layouts/google_analytics' if Rails.env.production? %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div id="main-wrapper" class="color-skin-3">
        <header id="header-1" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 header-info-wrapper">
                        <ul class="list-inline">
                            <li class="tagline">
                                <i class="icon-quote-left"></i>
                                One movie is better than two of something else
                                <i class="icon-quote-right"></i>
                            </li>
                        </ul>
                        <!-- /.list-inline -->
                    </div>
                    <!-- /.header-info-wrapper -->
                    <div class="col-xs-12 col-sm-4 social-link-wrapper">
                        <%= render 'layouts/social_links' %>
                    </div>
                    <!-- /.social-link-wrapper -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </header>
        <!-- /.header-1 -->

        <header id="header-2" class="header">
            <%= render "layouts/navigation" %>
        </header>
        <!-- /#header-2 -->

        <%= yield %>

        <footer id="footer-2" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 footer-info-wrapper">
                    <span>MovieBuddy © 2013. Design by <a href="#">Joseph</a></span> <br />  
                    <span>For issues or improvements, raise them at <a href="https://github.com/Joseph-N/moviebuddy/issues/" target="_blank">Github</a></span>                     
                </div>
                <!-- /.footer-info-wrapper -->
                <div class="col-xs-12 col-sm-6 social-link-wrapper">
                    <%= render 'layouts/social_links' %>
                </div>
                <!-- /.social-link-wrapper -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        </footer>
        <!-- /#footer-2 -->

        <%= render 'layouts/skin_chooser' %>

        <a href="#" id="toTop" style="display: inline;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a>

    </div>
    <%= render 'layouts/modal' %>
</body>
</html>
